
.half{
    width: 350px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

table{
    margin: 2px auto;
}
td {
    min-width: 100px;
    border: 1px solid #eee;
}

#otherfield {
    display: none;
}

.fb-share-button {
    margin: 10px auto;
}

#auth-options {
    margin-top: 10px;
}