<div id="logo"><a href="/" class="nav-link">FCC-Vote</a></div>

<% if(isAuthed) {%>
    <div id="user" class="float-right">
        <a href="#" class="display-name"><div id="display-name"></div></a>
        <div id="menu">
            <div class="menu-item"><a href="/newpoll" class="nav-link">New poll</a></div>
            <div class="menu-item"><a href="/mypolls" class="nav-link">My polls</a></div>
            <div class="menu-item"><a href="/logout" class="nav-link">Logout</a></div>
        </div>
    </div>
<% } else { %>
    <div id="login" class="float-right">
        <a href="/login" class="nav-link">Login</a>
    </div>
<% } %>

<div class="float-right">
    <a href="/" class="nav-link">All polls</a>
</div>
<script type="text/javascript" src="/common/ui.js"></script>